html, body{
  height: 100%;
}
#editor_box{
  width: 100%;
  height: 360px;
  display: block;
  resize: none;
  border: none;
  line-height: 1.5;
}
#editor_box:focus{
  border: none;
  box-shadow: none;
  outline: none;
}